.menu-style{
    /* color: black; */
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
}
.menu-style:hover{
    background-color: rgb(34, 203, 245);
}
.nav-body{
    background-color: rgb(77, 73, 73);
    line-height: 40px;
}
